body{
    display: flex;
    justify-content: center;
    
    
}

.container{
    box-shadow: 0px 0px 10px;
    width: 300px;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    background-color: palegoldenrod;
}
h1{
    margin-bottom: 50px;
}

p{
    font-size: 20px;
}

input{
    border: none;
    border-bottom: 1px solid black ;
    margin-bottom: 30px;
    width: 50%;
    height: 25px;
    text-align: center;

}

#btn{
    width: 50%;
    height: 30px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    
}

#btn:hover{
    background-color: white;
    color: black;
}

#result{
    margin-top: 20px;
    font-size: 20px;
}

